body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #0f4c75, #1b262c);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background: linear-gradient(to right, #1b262c, #0f4c75);
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.container {
    max-width: 800px;
    text-align: center;
    margin: 20px;
}

section {
    margin-bottom: 40px;
}

h1 {
    color: #4a90e2;
    font-size: 3em;
}

p {
    color: #fff;
    font-size: 1.2em;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4a90e2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #205493;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.feature {
    width: 45%;
    padding: 20px;
    background: linear-gradient(to right, #1b262c, #0f4c75);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.testimonial {
    background: linear-gradient(to right, #1b262c, #0f4c75);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.contact-form {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    background: linear-gradient(to right, #1b262c, #0f4c75);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #205493;
}

@media (max-width: 600px) {
    .feature {
    width: 100%;
    }
}
